#div{
    height: 300px;
    width: 250px;
    background-color: rgba(255, 155, 255, 0.675668708427507395243526172962762567346785946415215648627925652359636319752967198642198521763985171529139139713973529532829849713577591525798859831925295713985291529191271397589723571);
}  

#count{
    display: flex;
    align-items:center;
    justify-content: center;
}