#div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 200px;
    background-color: rgba(255, 155, 255, 0.67566870842750739524352617296276256734678594641);
}                           